@using ShoppingWarehouse.Resources.ViewShared;
@using ShoppingWarehouse.Constants;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoppingWarehouse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">ShoppingWarehouse</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Articles" asp-action="Index">@ViewSharedResource.Articles</a>
                            </li>
                            @if (User.IsInRole(Role.Admin))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Employees" asp-action="Index">@ViewSharedResource.Employees</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="ArticleRequests" asp-action="Index">@ViewSharedResource.ArticlesRequests</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="PurchaseOrders" asp-action="Index">@ViewSharedResource.PurchaseOrders</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Brands" asp-action="Index">@ViewSharedResource.Brands</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Departments" asp-action="Index">@ViewSharedResource.Departments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Suppliers" asp-action="Index">@ViewSharedResource.Suppliers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="UnitOfMeasurements" asp-action="Index">@ViewSharedResource.UnitOfMeasurements</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">@ViewSharedResource.IndexPage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">@ViewSharedResource.Privacy</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ShoppingWarehouse - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
