@model ShoppingWarehouse.Data.Entities.ArticleRequest
@using ShoppingWarehouse.Resources.ArticleRequest;
@using ShoppingWarehouse.Resources.Generic;

@{
    ViewData["Title"] = @GenericResource.Edit;
}

<h1>@GenericResource.Edit</h1>

<h4>@ArticleRequestResource.ArticleRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="selectpicker form-control" data-live-search="true" data-size="3" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleId" class="control-label"></label>
                <select asp-for="ArticleId" class="selectpicker form-control" data-live-search="true" data-size="3" asp-items="ViewBag.ArticleId"></select>
                <span asp-validation-for="ArticleId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value=@GenericResource.Save class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@GenericResource.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
